.advantages {
    background: #F6F6F6;
    padding: 70px 0 80px 0;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;   
    }
    &__item {
        max-width: 237px;
        
    }
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 38px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;

    }
    &__descr {
        margin-top: 26px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        a{
            color: #FF0000;
        }
    }
}
